# --- Базы данных ---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

CH_USER=
CH_PASSWORD=
CH_DB=

# --- Langfuse ---
NEXTAUTH_SECRET=
NEXTAUTH_URL=
TELEMETRY_ENABLED=
ENCRYPTION_KEY=
SALT=
LANGFUSE_SECRET_KEY =
LANGFUSE_PUBLIC_KEY =
LANGFUSE_HOST =

# --- Модели и AI ---
EMBEDDING_MODEL_ID=
LLM_PROVIDER=
GIGACHAT_CREDENTIALS =

# --- Порты (если захотите изменить) ---
API_PORT=
LANGFUSE_PORT=
TEI_PORT=
QDRANT_PORT=
REDIS_PORT=