/.env
/.ipynb_checkpoints
# Python bytecode
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

*.jsonl

data/*
!data/eval/
data/eval/*
!data/eval/warhammer40k_eval_60q.jsonl

app/eval/results/*
experiments/judge_results.csv
