# Web Server & Core
fastapi
uvicorn[standard]
pydantic-settings
python-multipart

# LangChain - используем модульную структуру
langchain
langchain-community
langchain-core
langchain-qdrant       # Специализированный пакет для Qdrant
langchain-openai       # Или langchain-gigachat, если используешь его
langchain_gigachat

# Vector DB & Search
qdrant-client
fastembed

# Bot & API Client
aiogram
httpx

# Infrastructure
redis
langfuse
tenacity